<p-fieldset legend="Importação de dados">
  <div class="p-fluid formgrid grid m-3">
    <div class="field col-12 mt-1"><b>Modelo: </b>{{ importModel?.name }}</div>

    <div class="field col-12 mt-1">
      <b>Descrição: </b>{{ importModel?.description }}
    </div>

    <div class="field col-12 mt-1">
      <b>{{ importModel?.complementFieldLabel }}: </b>
      <span *ngIf="importModel?.complementFieldId">
        {{ importModel?.complementFieldText }}
      </span>
      <span *ngIf="importModel?.complementFieldId">
        <i class="fa-solid fa-copy"></i>
        <span class="ml-2">
          {{ importModel?.complementFieldId }}
        </span>
      </span>
    </div>

    <div class="field col-12 mt-2">
      <p-button
        label="Editar colunas de mapeamento"
        severity="warning"
        (onClick)="edit()"
        icon="fas fa-pencil"
      />
    </div>

    <div
      class="field col-12 mt-2"
      *ngIf="processedData == null || processedData?.length == 0"
    >
      <p-fileUpload
        mode="basic"
        [auto]="true"
        customUpload="true"
        (uploadHandler)="onUpload($event)"
        chooseLabel="Carregar arquivo"
      ></p-fileUpload>
    </div>

    <div class="field col-12 mt-2" *ngIf="processedData?.length > 0">
      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-eraser"
        [outlined]="true"
        [rounded]="true"
        label="Limpar arquivo"
        (click)="cancel()"
      ></button>
    </div>

    <div class="field col-12 mt-2" *ngIf="processedData?.length > 0">
      <r-button
        label="Processar ({{ processedData.length }})"
        icon="fas fa-cogs"
        rounded="true"
        class="mt-2"
        (onClick)="import()"
      ></r-button>
    </div>

    <div
      class="field col-12 mt-3"
      *ngIf="progressImport > 0 && progressImport < 100"
    >
      <p-progressBar [value]="progressImport"></p-progressBar>
    </div>

    <div class="field col-12 mt-3" *ngIf="processedData?.length > 0">
      <lib-data-viewer
        [data]="processedData"
        [panelTitle]="importModel?.name"
      ></lib-data-viewer>
    </div>
  </div>
</p-fieldset>

<d-message-window #messageWindow></d-message-window>
<d-confirm-box #confirmBox></d-confirm-box>
