<d-search-screen
  searchId="import-model"
  (onConfirm)="import($event.id)"
  apiName="data-core-api"
  mode="search"
  (onNewClick)="new()"
  [showNewButton]="false"
  [showBackButton]="false"
  [showConfirmButton]="false"
>
  <ng-template #contentGridTemplate let-object>
    <td>
      <div class="flex align-items-center justify-content-between w-full">
        <div class="text-center mr-4 border-circle">
          <i class="fa-solid fa-file-import text-6xl"></i>
        </div>

        <div class="text-left w-full">
          <span class="block font-medium text-900 mb-2">
            {{ object.name }}
          </span>
          <span
            class="block font-medium text-900 mb-2"
            *ngIf="object.description"
          >
            {{ object.description }}
          </span>
          <span class="block mb-2"
            ><i class="fa-solid fa-hashtag"></i>
            {{ object.entityName }}
          </span>
        </div>
      </div>
    </td>
  </ng-template>
</d-search-screen>
